.footer {
    background-color: var(--background-light);
    padding: 3rem 2rem 1rem;
    margin-top: 4rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
  }
   
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
  
  .footer-section h4 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  .footerImg {
    width: 100%;
    height: auto;
    max-width: 60px;
  }

  .footerImg, img {
    width: 100%;
    height: auto;
  }

  .footer-section p {
    color: var(--text-light);
    margin-bottom: 1rem;
  }
  
  .dark-mode .footer-section p {
    color: var(--text-dark);
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 0.7rem;
    position: relative;
  }

  .footer-section ul a {
    color: var(--text-light);
    text-decoration: none;
    padding: 0.3rem 0;
    position: relative;
    transition: color 0.3s ease;
  }

  .dark-mode .footer-section ul a {
    color: var(--text-dark);
  }
  .dark-mode .footer-section ul a:hover {
    color: var(--primary-color);
  }

  .footer-section ul a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
  }

  .footer-section ul a:hover {
    color: var(--primary-color);
  }

  .footer-section ul a:hover::after {
    width: 100%;
  }

  [dir="rtl"] .footer-section ul a::after {
    left: auto;
    right: 0;
  }
  
  .social-links {
    display: flex;
    gap: 1rem;
  }
  
  .social-links a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .social-links svg {
    width: 24px;
    height: 24px;
  }
  
  .social-links a:hover {
    color: var(--primary-color);
  }
  
  .dark-mode .social-links a:hover {
    color: var(--primary-color);
  }
  
  .footer-bottom {
    max-width: 1200px;
    margin: 2rem auto 0;
    padding-top: 1rem;
    border-top: 1px solid var(--secondary-color);
    text-align: center;
    color: var(--secondary-color);
    font-size: 0.9rem;
  }
  
  .footer-bottom p {
    color: var(--text-light);
  }
  
  .dark-mode .footer-bottom p {
    color: var(--text-dark);
  }
  
  .dark-mode .footer {
    background-color: var(--background-dark);
  }
  
  .dark-mode .footer-section ul a,
  .dark-mode .social-links a {
    color: var(--text-dark);
  }
  
  [dir="rtl"] .footer-content {
    direction: rtl;
  }
  
  
  @media (max-width: 768px) {
    .footer-content {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .footer-content {
      grid-template-columns: 1fr;
    }
  }