.App {
    background-color: var(--background-light);
    color: var(--text-dark);
  }
  
  .dark-mode .App {
    background-color: var(--background-dark);
    color: var(--text-light);
  }
   

  .background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: url('/public/P2S-LOGO-1.png');
    background-size: 200px 200px, 100px 100px;
    background-position: 0 0, 200px 0;
    background-repeat: repeat;
    opacity: 0.4;
    animation: scrollPattern 50s linear infinite;
  }
  
  @keyframes scrollPattern {
    from {
      background-position: 1px, 0, 200px 0;
    }
    to {
      background-position: 400px 0, -100px 0;
    }
  }
  
  .hero {
    position: relative;
    text-align: center;
    margin-top: 4.5rem;
    padding: 150px 20px 250px 20px;
  }
  
  .hero h1 {
    position: relative;
    z-index: 1;
    color: var(--text-light);
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .dark-mode .hero h1 {
    color: var(--text-dark);
  }
  
  .hero p {
    position: relative;
    z-index: 1;
    color: var(--text-light);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .dark-mode .hero p {
    color: var(--text-dark);
  }
  
  .scroll-arrow {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 5.5rem;
    margin-top: 6rem;
    width: 0;
    animation: bounce 2s infinite;
    color: var(--text-light);
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .dark-mode .scroll-arrow {
    color: var(--text-dark);
  }
  
  [dir='rtl'] .hero h1 {
    font-size: 4rem;
  }
  
  [dir='rtl'] .hero p {
    font-size: 2rem;
  }
   
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
    60% {
      transform: translateY(5px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero {
      padding: 150px 20px 300px 20px;
    }
  
    .hero h1 {
      font-size: 50px;
    }
  
    .hero p {
      font-size: 30px;
    }
  
    .scroll-arrow {
      font-size: 7rem;
      margin-top: 10rem;
    }
  }